footer
    p= "Copyright © 2016 Rush Plubming. All Rights Reserved."
    div
        -var icon = ["fa-facebook", "fa-twitter", "fa-google-plus", "fa-fax", "fa-rss"]
        each val in icon
            a.unstyled(href="#")
                i(class="fa" class=val)