nav
    -
        var ref = ["Draun Cleaning",
        "Emergency Plumbing",
        "Sewer Services",
        "Trenchless Sewer",
        "Gas Shut Off Valve",
        "Faucets & Fixtures",
        "Water Heaters"]
        var links = ["/PlumberProblems.html",
        "/PlumberProblems.html",
        "/PlumberProblems.html",
        "/PlumberProblems.html",
        "/PlumberProblems.html",
        "/PlumberProblems.html",
        "/PlumberProblems.html"]
    each val,ind in ref
        a.unstyled(href=links[ind])= val