@mixin dflex($dir: c, $jc: c, $ai: c)
{
	display: flex;
	
	@if 		$dir == r { flex-direction: row; }
	@else if 	$dir == c { flex-direction: column; }
	
	@if 		$jc == s { 	justify-content: flex-start; }
	@else if 	$jc == e { 	justify-content: flex-end; }
	@else if 	$jc == c { 	justify-content: center; }
	@else if 	$jc == sb { justify-content: space-between; }
	
	@if 		$ai == s { 	align-items: flex-start; }
	@else if	$ai == e {	align-items: flex-end; }
	@else if 	$ai == c { 	align-items: center; align-content: center;}
	@else if	$ai == sb { align-items: space-between; }
}