@import "../mix/dflex";
@import "fonts";
@import "init";

$colors: (
	"light-blue": rgb(38,168,243),
	"blue": rgb(3, 132, 206),
	"dark-blue": rgb(7, 39, 83)
);

// область адаптивов
$xs-adapt: 500px;
$s-adapt: 768px;
$m-adapt: 992px;
$l-adapt: 1200px;