@font-face{
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNovaRegular.otf");
}
@font-face{
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNovaRegular.otf");
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNovaBold.otf")
}