header(ng-controller="MenuSwitcherCtrl")
    header(ng-controller="SiteNavCtrl")
        a(href="#!/")
            img(src="images/logo.png")
        nav
            a(ng-repeat="(name, href) in links" ng-href="{{href}}")= "{{name}}"
        div
            aside.callingIn
                a.unstyled(href="tel:+18183441111")
                    i(class="fa fa-phone" aria-hidden="true")
                    p= "24/7 Emergency Services"
            i.fa.fa-bars(ng-class="{ active: open}" ng-click="switch()")

    nav.small-menu(ng-controller="SiteNavCtrl" ng-class="{ active: open}")
        a(ng-repeat="(name, href) in links" ng-href="{{href}}")= "{{name}}"