doctype html
html(lang="en")
	head
		title Home!
		include _head.jade
	body
		include _preloader.jade
		include _header.jade

		div(ng-view autoscroll='true')

		include _footer.jade
		include _script.jade