#feedback{
  width: 80rem;

  margin-top: 5.9rem;
  margin-left: 1.5rem;
  article{
    color: rgb(7,39,83);
    width: 33.5rem;
    h5{
      font-family: "Proxima Nova Bold";
      font-size: 1.88rem;
      margin: 0;
    }
    p{
      font-family: "Proxima Nova Regular";
      font-size: 0.9rem;
    }
  }

  div#feedbacks-wr{
    @include dflex(r,sb,c);

    width: 100%;
    .respounce-block{
      @include dflex(c,sb,s);
      margin-top: 2.25rem;
      width: 26rem;
      height: 12.2rem;

      .respounce-quote{
        @include dflex(r,c,s);
        position: relative;

        width: 100%;
        height: 68%;
        background-color: rgb(241,243,248);
        padding-top: 1.5rem;

        &::before{
          content: "";
          display: block;
          transform: rotate(45deg);
          position: absolute;

          left: 1.78rem;
          top: 6.9rem;
          width: 3rem;
          height: 3rem;
          background-color: rgb(241,243,248);
        }
        a{
          margin-top: 0.4rem;
          margin-left: 0rem;
          font-size: 2rem;
          color: rgba(213,213,213,0.5);
        }
        p{
          font-family: "Proxima Nova Regular";
          font-size: 0.9rem;
          letter-spacing: 0.02rem;
          line-height: 1.37rem;
          width: 65%;
          margin-top: 0.15rem;
          margin-left: 0.9rem;
          color: rgb(85,85,85);
        }
      }
      .author{
        margin: 0;
        font-family: "Proxima Nova Regular";

        font-size: 0.9rem;
      }
    }
  }
}

@media (min-device-width: 0) and (max-device-width: $xs-adapt - 1){
  #feedback{
    width: 80rem;

    margin-top: 5.9rem;
    margin-left: 1.5rem;
    article{
      color: rgb(7,39,83);
      width: 100%;
      h5{
        font-family: "Proxima Nova Bold";
        font-size: 6.5rem;
        margin: 0;
      }
      p{
        font-family: "Proxima Nova Regular";
        font-size: 3.6rem;
      }
    }

    div#feedbacks-wr{
      @include dflex(c,s,c);

      width: 100%;
      .respounce-block{
        @include dflex(c,s,s);
        margin-top: 2.25rem;
        width: 98%;
        height: 44rem;

        .respounce-quote{
          @include dflex(r,c,s);
          position: relative;

          width: 100%;
          height: 64%;
          background-color: rgb(241,243,248);
          padding-top: 1.5rem;

          &::before{
            content: "";
            display: block;
            transform: rotate(45deg);
            position: absolute;

            left: 5rem;
            top: 22rem;
            width: 9rem;
            height: 9rem;
            //background-color: red;
            background-color: rgb(241,243,248);
          }
          a{
            margin-top: 0;
            margin-left: 0;
            margin-right: 3rem;
            font-size: 8rem;
            color: rgba(213,213,213,0.5);
          }
          p{
            font-family: "Proxima Nova Regular";
            font-size: 3.2rem;
            letter-spacing: 0.02rem;
            line-height: 4.1rem;
            width: 75%;
            margin-top: 0.15rem;
            margin-left: 0.9rem;
            color: rgb(85,85,85);
          }
        }
        .author{
          margin: 4rem auto 4rem 2rem;
          font-family: "Proxima Nova Regular";

          font-size: 3.5rem;
        }
      }
    }
  }
}

@media (min-device-width: $xs-adapt) and (max-device-width: $s-adapt - 1){
  #feedback{
    width: 80rem;

    margin-top: 5.9rem;
    margin-left: 1.5rem;
    article{
      color: rgb(7,39,83);
      width: 100%;
      h5{
        font-family: "Proxima Nova Bold";
        font-size: 4.2rem;
        margin: 0;
      }
      p{
        font-family: "Proxima Nova Regular";
        font-size: 2.8rem;
      }
    }

    div#feedbacks-wr{
      @include dflex(c,s,c);

      width: 100%;
      .respounce-block{
        @include dflex(c,s,s);
        margin-top: 2.25rem;
        width: 98%;
        height: 44rem;

        .respounce-quote{
          @include dflex(r,c,s);
          position: relative;

          width: 100%;
          height: 48%;
          background-color: rgb(241,243,248);
          padding-top: 1.5rem;

          &::before{
            content: "";
            display: block;
            transform: rotate(45deg);
            position: absolute;

            left: 5rem;
            top: 15rem;
            width: 9rem;
            height: 9rem;
            //background-color: red;
            background-color: rgb(241,243,248);
          }
          a{
            margin-top: 0;
            margin-left: 0;
            margin-right: 3rem;
            font-size: 7rem;
            color: rgba(213,213,213,0.5);
          }
          p{
            font-family: "Proxima Nova Regular";
            font-size: 2.6rem;
            letter-spacing: 0.02rem;
            line-height: 4.1rem;
            width: 75%;
            margin-top: 0.15rem;
            margin-left: 0.9rem;
            color: rgb(85,85,85);
          }
        }
        .author{
          margin: 4rem auto 4rem 2rem;
          font-family: "Proxima Nova Regular";

          font-size: 3.5rem;
        }
      }
    }
  }
}

@media (min-device-width: $s-adapt) and (max-device-width: $m-adapt - 1){
  #feedback{
    width: 80rem;

    margin-top: 5.9rem;
    margin-left: 1.5rem;
    article{
      color: rgb(7,39,83);
      width: 100%;
      h5{
        font-family: "Proxima Nova Bold";
        font-size: 2.2rem;
        margin: 0;
      }
      p{
        font-family: "Proxima Nova Regular";
        font-size: 1.9rem;
      }
    }

    div#feedbacks-wr{
      @include dflex(c,s,c);

      width: 100%;
      .respounce-block{
        @include dflex(c,s,s);
        margin-top: 2.25rem;
        width: 98%;
        height: 32rem;

        .respounce-quote{
          @include dflex(r,c,s);
          position: relative;

          width: 100%;
          height: 48%;
          background-color: rgb(241,243,248);
          padding-top: 1.5rem;

          &::before{
            content: "";
            display: block;
            transform: rotate(45deg);
            position: absolute;

            left: 5rem;
            top: 8.5rem;
            width: 9rem;
            height: 9rem;
            //background-color: red;
            background-color: rgb(241,243,248);
          }
          a{
            margin-top: 0;
            margin-left: 0;
            margin-right: 3rem;
            font-size: 5rem;
            color: rgba(213,213,213,0.5);
          }
          p{
            font-family: "Proxima Nova Regular";
            font-size: 2.0rem;
            letter-spacing: 0.02rem;
            line-height: 3.4rem;
            width: 75%;
            margin-top: 0.15rem;
            margin-left: 0.9rem;
            color: rgb(85,85,85);
          }
        }
        .author{
          margin: 4rem auto 4rem 2rem;
          font-family: "Proxima Nova Regular";

          font-size: 2.2rem;
        }
      }
    }
  }
}