#PlumbingProblemsSRepairs{
  @include dflex();

  color: rgb(117,117,117);

  div#position{
    @include dflex(r,c,c);
    margin-top: 2.5rem;
    p{
      font-size: 0.8rem;
      letter-spacing: 0.08rem;
      &:first-of-type{
        color: rgb(15,152,233);
      }
    }

    i{
      margin: 0 1.5rem;
    }
  }

  div#content{
    @include dflex(c,s,s);
    width: 70.5%;
    h2{
      @include dflex();

      font-family: "Proxima Nova Bold";
      margin-top: 2.25rem;
      width: 100%;

      color: rgb(7,39,83);

      font-size: 2.2rem;
      letter-spacing: 0.1rem;
      text-align: center;
      &:after{
        content: "";
        display: block;

        width: 24%;
        height: 100%;
        margin-top: 2rem;
        border-bottom: 0.2rem solid rgb(0,67,149);
      }
    }
    >p{
      font-family: "Proxima Nova Regular";
      margin: 1rem 0;
      font-size: 1.2rem;
      &:first-of-type{
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        color: rgb(54,54,54);
      }
    }
    img{
      height: 26.5rem;
      margin: 2.5rem 0;
    }
    >div#CallUsNow{
      width: 100%;
      text-align: center;
      font-size: 2.15rem;

      margin-bottom: 5rem;
      b{
        color: rgb(15,152,233);
      }
    }
  }
}

form {
  width: 100%;
}

.form-item {
  @include dflex(r, sb, c);
  margin: 1rem 0;
  width: 100%;

  label {
    font-family: "Proxima Nova Regular";
    font-size: 1.25rem;
    span {
      color: rgb(252, 0, 0);
    }
  }
  input, textarea, select{
    font-family: "Proxima Nova Regular";
    font-size: 1.2rem;
  }
  input, textarea {
    font-family: "Proxima Nova Regular";
    width: 55%;
    padding: 1rem;
  }
  select {
    width: 59.5%;
    padding: 1rem;

    appearance: none;
    background: url("/images/arrow.jpg") no-repeat;
    background-position: 98% 50%;
    background-size: 5% 30%;
  }
  textarea{
    height: 12rem;
    width: 55.4%;
    resize: none;
  }
}
input[type="submit"]{
  @include dflex();
  font-family: "Proxima Nova Bold";
  color: rgb(255,255,255);
  font-size: 1.5rem;

  background-color: rgb(15,152,233);
  border: none;

  width: 16rem;
  height: 5rem;

  margin-left: 19.3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

@media (min-device-width: 0) and (max-device-width: $xs-adapt - 1) {
  body > article#PlumbingProblemsSRepairs {
    @include dflex();

    color: rgb(117, 117, 117);

    div#position {
      @include dflex(r, c, c);
      margin-top: 2.5rem;
      p {
        font-size: 3.8rem;
        letter-spacing: 0.08rem;
        &:first-of-type {
          color: rgb(15, 152, 233);
        }
      }
      i {
        font-size: 3rem;
        margin: 0 1.5rem;
      }
    }

    div#content {
      @include dflex(c, s, s);
      width: 95%;
      h2 {
        font-family: "Proxima Nova Bold";
        margin-top: 2.25rem;
        width: 100%;

        font-size: 6.2rem;
        letter-spacing: 0.1rem;
        text-align: center;
      }
      > p {
        font-family: "Proxima Nova Regular";
        margin: 2rem 0;
        font-size: 3.6rem;
        &:first-of-type {
          margin-top: -2rem;
          font-size: 4.3rem;
        }
        &:last-of-type {
          margin-bottom: 5rem;
        }
      }
      img {
        height: 46rem;
        margin: 2.5rem 0;
      }
      > div#CallUsNow {
        color: rgb(54, 54, 54);
        width: 100%;
        text-align: center;
        font-size: 5.55rem;
        b {
          color: rgb(15, 152, 233);
        }
      }
    }
  }


  form {
    @include dflex(c,c,c);
    width: 100%;
  }

  .form-item {
    @include dflex(c, sb, c);
    margin: 1rem 0;
    width: 100%;

    label {
      font-family: "Proxima Nova Regular";
      margin: 1rem 0;
      font-size: 4.2rem;
      span {
        color: rgb(252, 0, 0);
      }
    }
    input, textarea, select{
      font-family: "Proxima Nova Regular";
      font-size: 4.2rem;
    }
    input, textarea {
      font-family: "Proxima Nova Regular";
      width: 65%;
      padding: 2rem;
    }
    select {
      width: 69.8%;
      padding: 1rem;

      appearance: none;
      background: url("/images/arrow.jpg") no-repeat;
      background-position: 98% 50%;
      background-size: 5% 30%;
    }
    textarea{
      height: 12rem;
      width: 65.4%;
      resize: none;
    }
  }
  input[type="submit"]{
    @include dflex();
    font-family: "Proxima Nova Bold";
    color: rgb(255,255,255);
    font-size: 4.2rem;

    background-color: rgb(15,152,233);
    border: none;

    width: 36rem;
    height: 15rem;

    margin-left: 0rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

}


@media (min-device-width: $xs-adapt) and (max-device-width: $s-adapt - 1){
  form {
    @include dflex(c,c,c);
    width: 100%;
  }

  .form-item {
    @include dflex(c, sb, c);
    margin: 1rem 0;
    width: 100%;

    label {
      font-family: "Proxima Nova Regular";
      margin: 1rem 0;
      font-size: 4.2rem;
      span {
        color: rgb(252, 0, 0);
      }
    }
    input, textarea, select{
      font-family: "Proxima Nova Regular";
      font-size: 4.2rem;
    }
    input, textarea {
      font-family: "Proxima Nova Regular";
      width: 65%;
      padding: 2rem;
    }
    select {
      width: 69.8%;
      padding: 1rem;

      appearance: none;
      background: url("/images/arrow.jpg") no-repeat;
      background-position: 98% 50%;
      background-size: 5% 30%;
    }
    textarea{
      height: 12rem;
      width: 65.4%;
      resize: none;
    }
  }
  input[type="submit"]{
    @include dflex();
    font-family: "Proxima Nova Bold";
    color: rgb(255,255,255);
    font-size: 3.6rem;

    background-color: rgb(15,152,233);
    border: none;

    width: 32rem;
    height: 12rem;

    margin-left: 0rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}

@media (min-device-width: $s-adapt) and (max-device-width: $m-adapt - 1){
  form {
    width: 100%;
  }

  .form-item {
    @include dflex(r, sb, c);
    margin: 1rem 0;
    width: 100%;

    label {
      font-family: "Proxima Nova Regular";
      font-size: 1.25rem;
      span {
        color: rgb(252, 0, 0);
      }
    }
    input, textarea, select{
      font-family: "Proxima Nova Regular";
      font-size: 1.2rem;
    }
    input, textarea {
      font-family: "Proxima Nova Regular";
      width: 55%;
      padding: 1rem;
    }
    select {
      width: 57.9%;
      padding: 1rem;

      appearance: none;
      background: url("/images/arrow.jpg") no-repeat;
      background-position: 98% 50%;
      background-size: 3.5% 30%;
    }
    textarea{
      height: 12rem;
      width: 55.4%;
      resize: none;
    }
  }
  input[type="submit"]{
    @include dflex();
    font-family: "Proxima Nova Bold";
    color: rgb(255,255,255);
    font-size: 1.5rem;

    background-color: rgb(15,152,233);
    border: none;

    width: 16rem;
    height: 5rem;

    margin-left: 19.3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}

@media (min-device-width: 0) and (max-device-width: $xs-adapt - 1) {
  #PlumbingProblemsSRepairs{
    @include dflex();

    color: rgb(117,117,117);

    div#position{
      @include dflex(r,c,c);
      margin-top: 2.5rem;
      p{
        font-size: 3.8rem;
        letter-spacing: 0.08rem;
        &:first-of-type{
          color: rgb(15,152,233);
        }
      }
      i{
        font-size: 3rem;
        margin: 0 1.5rem;
      }
    }

    div#content{
      @include dflex(c,s,s);
      width: 95%;
      h2{
        font-family: "Proxima Nova Bold";
        margin-top: 2.25rem;
        width: 100%;

        font-size: 6.2rem;
        letter-spacing: 0.1rem;
        text-align: center;
      }
      >p{
        font-family: "Proxima Nova Regular";
        margin: 2rem 0;
        font-size: 3.6rem;
        &:first-of-type{
          margin-top: 2.7rem;
          font-size: 4.3rem;
        }
        &:last-of-type{
          margin-bottom: 8rem;
        }
      }
      img{
        height: 46rem;
        margin: 2.5rem 0;
      }
      >div#CallUsNow{
        color: rgb(54,54,54);
        width: 100%;
        text-align: center;
        font-size: 5.55rem;
        b{
          color: rgb(15,152,233);
        }
      }
    }
  }
}

@media (min-device-width: $xs-adapt) and (max-device-width: $s-adapt - 1) {
  #PlumbingProblemsSRepairs{
    @include dflex();

    color: rgb(117,117,117);

    div#position{
      @include dflex(r,c,c);
      margin-top: 2.5rem;
      p{
        font-size: 2.8rem;
        letter-spacing: 0.08rem;
        &:first-of-type{
          color: rgb(15,152,233);
        }
      }

      i{
        font-size: 3rem;
        margin: 0 1.5rem;
      }
    }

    div#content{
      @include dflex(c,s,s);
      width: 90.5%;
      h2{
        @include dflex();

        font-family: "Proxima Nova Bold";
        margin-top: 2.25rem;
        width: 100%;

        color: rgb(7,39,83);

        font-size: 5.2rem;
        letter-spacing: 0.1rem;
        text-align: center;
        &:after{
          content: "";
          display: block;

          width: 24%;
          height: 100%;
          margin-top: 2rem;
          border-bottom: 0.2rem solid rgb(0,67,149);
        }
      }
      >p{
        font-family: "Proxima Nova Regular";
        margin: 1rem 0;
        font-size: 1.2rem;
        &:first-of-type{
          width: 100%;
          text-align: center;
          font-size: 2.6rem;
          color: rgb(54,54,54);
        }
      }
      img{
        height: 26.5rem;
        margin: 2.5rem 0;
      }
      >div#CallUsNow{
        width: 100%;
        text-align: center;
        font-size: 2.15rem;

        margin-bottom: 5rem;
        b{
          color: rgb(15,152,233);
        }
      }
    }
  }
}

@media (min-device-width: $s-adapt) and (max-device-width: $m-adapt - 1) {
  #PlumbingProblemsSRepairs{
    @include dflex();

    color: rgb(117,117,117);

    div#position{
      @include dflex(r,c,c);
      margin-top: 2.5rem;
      p{
        font-size: 2.8rem;
        letter-spacing: 0.08rem;
        &:first-of-type{
          color: rgb(15,152,233);
        }
      }

      i{
        font-size: 3rem;
        margin: 0 1.5rem;
      }
    }

    div#content{
      @include dflex(c,s,s);
      width: 90.5%;
      h2{
        @include dflex();

        font-family: "Proxima Nova Bold";
        margin-top: 2.25rem;
        width: 100%;

        color: rgb(7,39,83);

        font-size: 5.2rem;
        letter-spacing: 0.1rem;
        text-align: center;
        &:after{
          content: "";
          display: block;

          width: 24%;
          height: 100%;
          margin-top: 2rem;
          border-bottom: 0.2rem solid rgb(0,67,149);
        }
      }
      >p{
        font-family: "Proxima Nova Regular";
        margin: 1rem 0;
        font-size: 1.2rem;
        &:first-of-type{
          width: 100%;
          text-align: center;
          font-size: 2.6rem;
          color: rgb(54,54,54);
        }
      }
      img{
        height: 26.5rem;
        margin: 2.5rem 0;
      }
      >div#CallUsNow{
        width: 100%;
        text-align: center;
        font-size: 2.15rem;

        margin-bottom: 5rem;
        b{
          color: rgb(15,152,233);
        }
      }
    }
  }
}