main#semiIntroBox{
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 23.25rem;
  margin-top: 2rem;
  background: url("/images/backgr.jpg") no-repeat;
  background-size: 100% 100%;

  nav{
    width: 80rem;
    margin: auto auto;
    position: absolute;
    left: 0.8rem;
    right: 0;

    @include dflex(r,c,c);
    background: linear-gradient(to right, rgb(7,39,83), rgb(0,67,148));
    a{
      font-size: 0.8rem;
      font-family: "Proxima Nova Regular";
      text-transform: uppercase;
      color: rgb(255,255,255);
      padding: 1.4rem 1.91rem;

      &:hover {
        $color: map-get( $colors, "blue");
        background-color: #{$color};

      }
    }
  }

  aside{
    @include dflex();
    font-family: "Proxima Nova Regular";

    margin-top: 8.4rem;

    h1,h2{
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.15rem;
      color: rgb(255,255,255);
    }
    h1{margin-bottom: 0;}
    h2{
      margin-top: 0.5rem;
      margin-bottom: 0;
      letter-spacing: 0.158rem;
    }

    article{
      position: relative;
      margin-top: 1.06rem;
      div{
        margin-top: 1.76rem;
        @include dflex(r,c,c);
        i{
          font-size: 0.3rem;
          margin: auto 1.3rem 0.4rem;
          color: rgb(179,213,233);
        }
        p{
          font-size: 0.9rem;
        }
      }

      p{
        font-family: "Proxima Nova Regular";
        margin: 0;
        width: auto;
        font-size: 1rem;

        color: rgb(255,255,255);
      }

      >p:last-of-type{
        font-family: "Proxima Nova Bold";
        text-align: center;
        margin-top: 1.4rem;
        letter-spacing: 0.1rem;
      }

      &::before{
        content: "";
        display: block;
        width: 22.5%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-top: 0.25rem solid rgb(255,255,255);
      }
    }
  }
}

@media (min-device-width: 0) and (max-device-width: $xs-adapt - 1) {
  main#semiIntroBox{
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 42.1rem;
    margin-top: 0;
    background: url("/images/backgr.jpg") no-repeat;
    background-size: 100% 100%;

    nav{
      display: none;
    }

    img{
      display: none;
    }

    aside{
      font-family: "Proxima Nova Regular";

      h1,h2{
        @include dflex();
        font-size: 5rem;
        font-weight: 500;
        letter-spacing: 0.188rem;
        color: rgb(255,255,255);
      }
      h1{
        margin-top: 7rem;
        margin-bottom: 0;}
      h2{
        margin-top: 0.5rem;
        margin-bottom: 0;
        letter-spacing: 0.158rem;

        &:after{
          content: "";
          @include dflex();
          width: 40%;
          height: 100%;
          border-bottom: 0.6rem solid rgb(255,255,255);
          margin-top: 3rem;
        }
      }

      article{
        display: none;
      }
    }
  }
}

@media (min-device-width: $xs-adapt) and (max-device-width: $s-adapt - 1) {
  main#semiIntroBox{
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 23.25rem;
    margin-top: 2rem;
    background: url("/images/backgr.jpg") no-repeat;
    background-size: 100% 100%;

    nav{
      width: 80rem;
      margin: auto auto;
      position: absolute;
      left: 0.8rem;
      right: 0;

      @include dflex(r,c,c);
      background: linear-gradient(to right, rgb(7,39,83), rgb(0,67,148));
      p{
        display: none;
        font-size: 0.8rem;
        font-family: "Proxima Nova Regular";
        text-transform: uppercase;
        color: rgb(255,255,255);
        margin: 1.4rem 1.91rem;
      }
    }

    aside{
      @include dflex();
      font-family: "Proxima Nova Regular";

      margin-top: 2.4rem;

      h1,h2{
        font-size: 4.2rem;
        font-weight: 500;
        letter-spacing: 0.15rem;
        color: rgb(255,255,255);
      }
      h1{margin-bottom: 0;}
      h2{
        margin-top: 0.5rem;
        margin-bottom: 0;
        letter-spacing: 0.158rem;
      }

      article{
        position: relative;
        margin-top: 1.06rem;
        div{
          margin-top: 1.76rem;
          @include dflex(r,c,c);
          i{
            font-size: 1.2rem;
            margin: auto 1.3rem 0.6rem;
            color: rgb(179,213,233);
          }
          p{
            font-size: 2.2rem;
          }
        }

        p{
          font-family: "Proxima Nova Regular";
          margin: 0;
          width: auto;
          font-size: 2.2rem;

          color: rgb(255,255,255);
        }

        >p:last-of-type{
          font-family: "Proxima Nova Bold";
          text-align: center;
          margin-top: 1.4rem;
          letter-spacing: 0.1rem;
        }

        &::before{
          content: "";
          display: block;
          width: 22.5%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          border-top: 0.25rem solid rgb(255,255,255);
        }
      }
    }
  }
}

@media (min-device-width: $s-adapt) and (max-device-width: $m-adapt - 1){
  main#semiIntroBox{
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 23.25rem;
    margin-top: 2rem;
    background: url("/images/backgr.jpg") no-repeat;
    background-size: 100% 100%;

    nav{
      width: 80rem;
      margin: auto auto;
      position: absolute;
      left: 0.8rem;
      right: 0;

      @include dflex(r,c,c);
      background: linear-gradient(to right, rgb(7,39,83), rgb(0,67,148));
      p{
        font-size: 1.2rem;
        text-align: center;
        font-family: "Proxima Nova Regular";
        text-transform: uppercase;
        color: rgb(255,255,255);
        margin: 1.4rem 1.91rem;
      }
    }

    aside{
      @include dflex();
      font-family: "Proxima Nova Regular";

      margin-top: 5.9rem;

      h1,h2{
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: 0.15rem;
        color: rgb(255,255,255);
      }
      h1{margin-bottom: 0;}
      h2{
        margin-top: 0.5rem;
        margin-bottom: 0;
        letter-spacing: 0.158rem;
      }

      article{
        position: relative;
        margin-top: 1.06rem;
        div{
          margin-top: 1.76rem;
          @include dflex(r,c,c);
          i{
            font-size: 0.7rem;
            margin: auto 1.3rem 0.6rem;
            color: rgb(179,213,233);
          }
          p{
            font-size: 1.8rem;
          }
        }

        p{
          font-family: "Proxima Nova Regular";
          margin: 0;
          width: auto;
          font-size: 2rem;

          color: rgb(255,255,255);
        }

        >p:last-of-type{
          font-family: "Proxima Nova Bold";
          text-align: center;
          margin-top: 1.4rem;
          letter-spacing: 0.1rem;
        }

        &::before{
          content: "";
          display: block;
          width: 22.5%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          border-top: 0.25rem solid rgb(255,255,255);
        }
      }
    }
  }
}


@media (min-device-width: $m-adapt) and (max-device-width: $l-adapt - 1){
  main#semiIntroBox{
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 23.25rem;
    margin-top: 2rem;
    background: url("/images/backgr.jpg") no-repeat;
    background-size: 100% 100%;

    nav{
      width: 80rem;
      margin: auto auto;
      position: absolute;
      left: 0.8rem;
      right: 0;

      @include dflex(r,c,c);
      background: linear-gradient(to right, rgb(7,39,83), rgb(0,67,148));
      p{
        font-size: 1.1rem;
        text-align: center;
        font-family: "Proxima Nova Regular";
        text-transform: uppercase;
        color: rgb(255,255,255);
        margin: 1.4rem 1.91rem;
      }
    }

    aside{
      @include dflex();
      font-family: "Proxima Nova Regular";

      margin-top: 4.8rem;

      h1,h2{
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: 0.15rem;
        color: rgb(255,255,255);
      }
      h1{margin-bottom: 0;}
      h2{
        margin-top: 0.5rem;
        margin-bottom: 0;
        letter-spacing: 0.158rem;
      }

      article{
        position: relative;
        margin-top: 1.06rem;
        div{
          margin-top: 1.76rem;
          @include dflex(r,c,c);
          i{
            font-size: 0.5rem;
            margin: auto 1.3rem 0.4rem;
            color: rgb(179,213,233);
          }
          p{
            font-size: 1.4rem;
          }
        }

        p{
          font-family: "Proxima Nova Regular";
          margin: 0;
          width: auto;
          font-size: 1.8rem;

          color: rgb(255,255,255);
        }

        >p:last-of-type{
          font-family: "Proxima Nova Bold";
          text-align: center;
          margin-top: 1.4rem;
          letter-spacing: 0.1rem;
        }

        &::before{
          content: "";
          display: block;
          width: 22.5%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          border-top: 0.25rem solid rgb(255,255,255);
        }
      }
    }
  }
}