h3
    | What is Sewage?
p
    | Sewage backup hazards are better understood once you learn what, in fact, sewage is; or as it also called raw sewage, sewage sludge, or septic tank waste.
p
    | Raw sewage is mainly gray or black water. It usually contains the organic waste and wastewater produced by household and industrial sources. Sewage typically contains everything from soap to solid waste, human excrement, industrial effluent, and debris. It is discharged by drains and sewer lines.
p
    | Excrement is the major source of harmful microorganisms such as coliform, fecal coliform, Escherichia coliform (E. coli), and Enterococcus.
p
    | Exposure to sewage or its products may result in a number of diseases:
h4
    | Gastroenteritis
p
    | An inflammation of the stomach and the intestine. Gastroenteritis may result in diarrhea with vomiting and cramps when irritation is excessive. When caused by an infectious agent, it is often associated with fever.
h4
    | Hepatitis
p
    | Hepatitis means inflammation of the liver. Hepatitis caused by a virus is known as viral hepatitis. When Hepatitis is a result of sewage backup it is often characterized by inflammation of the liver and jaundice.
h4
    | Occupational Asthma
p
    | A respiratory disorder characterized by attacks of breathlessness, chest tightness and wheezing.
h4
    | Weil's Disease
p
    | An acute feverish disease marked by gastroenteritis, mild jaundice, persistent and severe headache.
h4
    | Allergic Alveolitis
p
    | Inflammation of the alveoli in the lungs. It is rarely reported with relation to sewage backup. However, when reported it is characterized by fever, breathlessness, dry cough, and aching muscles and joints.
p
    | Additional health risks:
ul
    li
        | Fatal damage to liver, kidneys and blood
    li
        | Infection of skin or eyes
h3
    | Disease Transmission
p
    | There are 3 common transmission ways for microorganisms to enter a human body:
ol
    li
        | Hand-to-Mouth Contact
        | This is the most common transmission way and it occurs during eating, drinking and smoking. Hand-to-mouth contact also happens while wiping the face with contaminated hands or gloves, or by licking splashes from the skin.
    li
        | Skin Contact Skin contact with contaminated organisms is often possible through cuts, scratches, or penetrating wounds. Certain organisms can enter the body through the surfaces of the eyes, nose and mouth.
    li
        | Inhalation Contaminated organisms may penetrate the body simply as we breathe aerosolized particles or contaminated dust.