#pages {
	@include dflex(r, sb, c);
	width: 50rem;
	height: auto;

	border-top: 0.2rem solid rgb(235, 235, 235);
	margin-top: 5rem;
	padding-top: 3rem;
	margin-bottom: 5rem;
	div {
		@include dflex(r, c, c);
		a {
			color: rgb(15, 152, 233);
			margin: auto 1rem;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	button {
		width: 6rem;
		@include dflex(r, c, c);
		background-color: rgb(255, 255, 255);
		border: 0.2rem solid rgb(235, 235, 235);
		color: rgb(15, 152, 233);
		text {
			font-family: "Proxima Nova Bold";
			margin: 1rem 0.4rem;
		}
		i {
			font-size: 0.8rem;
		}
		&:hover {
			border-color: rgb(15, 152, 233);
			border-width: 0.1rem;
			padding: 0.9rem;
		}
	}
}

@media (min-device-width: 0) and (max-device-width: $xs-adapt - 1) {
	#pages {
		@include dflex(r, sb, c);
		width: 80rem;
		height: auto;

		border-top: 0.2rem solid rgb(235, 235, 235);
		margin-top: 5rem;
		padding-top: 3rem;
		margin-bottom: 5rem;
		div {
			@include dflex(r, c, c);
			a {
				color: rgb(15, 152, 233);
				font-size: 3rem;
				margin: auto 2rem;
			}
		}
		button {
			width: 18rem;
			@include dflex(r, c, c);
			background-color: rgb(255, 255, 255);
			border: 0.2rem solid rgb(235, 235, 235);
			color: rgb(15, 152, 233);
			text {
				font-family: "Proxima Nova Bold";
				font-size: 3rem;
				margin: 1rem 1.4rem;
			}
			i {
				font-size: 3.2rem;
			}
		}
	}
}

@media (min-device-width: $xs-adapt) and (max-device-width: $s-adapt - 1) {
	#pages {
		@include dflex(r, sb, c);
		width: 80rem;
		height: auto;

		border-top: 0.2rem solid rgb(235, 235, 235);
		margin-top: 5rem;
		padding-top: 3rem;
		margin-bottom: 5rem;
		div {
			@include dflex(r, c, c);
			a {
				color: rgb(15, 152, 233);
				font-size: 3rem;
				margin: auto 2rem;
			}
		}
		button {
			width: 18rem;
			@include dflex(r, c, c);
			background-color: rgb(255, 255, 255);
			border: 0.2rem solid rgb(235, 235, 235);
			color: rgb(15, 152, 233);
			text {
				font-family: "Proxima Nova Bold";
				font-size: 4rem;
				margin: 1rem 1.4rem;
			}
			i {
				font-size: 3.2rem;
				margin-bottom: 0.4rem;
			}
		}
	}
}

@media (min-device-width: $s-adapt) and (max-device-width: $m-adapt - 1) {
	#pages {
		@include dflex(r, sb, c);
		width: 80rem;
		height: auto;

		border-top: 0.2rem solid rgb(235, 235, 235);
		margin-top: 5rem;
		padding-top: 3rem;
		margin-bottom: 5rem;
		div {
			@include dflex(r, c, c);
			a {
				color: rgb(15, 152, 233);
				font-size: 2rem;
				margin: auto 2rem;
			}
		}
		button {
			width: 17rem;
			@include dflex(r, c, c);
			background-color: rgb(255, 255, 255);
			border: 0.2rem solid rgb(235, 235, 235);
			color: rgb(15, 152, 233);
			text {
				font-family: "Proxima Nova Bold";
				font-size: 2rem;
				margin: 1rem 1.4rem;
			}
			i {
				font-size: 2.2rem;
				margin-bottom: 0.2rem;
			}
		}
	}
}

@media (min-device-width: $m-adapt) and (max-device-width: $l-adapt - 1) {
	#pages {
		@include dflex(r, sb, c);
		width: 80rem;
		height: auto;

		border-top: 0.2rem solid rgb(235, 235, 235);
		margin-top: 5rem;
		padding-top: 3rem;
		margin-bottom: 5rem;
		div {
			@include dflex(r, c, c);
			a {
				color: rgb(15, 152, 233);
				font-size: 2rem;
				margin: auto 2rem;
			}
		}
		button {
			width: 12rem;
			@include dflex(r, c, c);
			background-color: rgb(255, 255, 255);
			border: 0.2rem solid rgb(235, 235, 235);
			color: rgb(15, 152, 233);
			text {
				font-family: "Proxima Nova Bold";
				font-size: 1.6rem;
				margin: 1rem 1.4rem;
			}
			i {
				font-size: 1.8rem;
				margin-bottom: 0.2rem;
			}
		}
	}
}