include _nav.jade
aside
    h1 All Plumbing services
    article
        div
            p= "24/7 Service"
            i.fa.fa-circle
            p= "Emergency"
            i.fa.fa-circle
            p= "Residential & Commercial"
        p
            a.unstyled(href="tel:+18183441111")="Call us now: 818 - 344- 1111"